<!DOCTYPE html>
<html>
<head>
	<title>Student Portal</title>
</head>
<body>

<!-- STUDENT PORTAL HEADER -->
<header>
	<div class="container row">
		<h1 class="col s12 student-header">Student Portal</h1>
	</div>
</header>

<div class="container row">
	<!-- NODE COHORT CARD -->
	<div class="card col s12 m5">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator cohort-tech" src="/img/nodejs.png">
	    </div>
	    <div class="card-content">
	      <span class="cohort card-title activator grey-text text-darken-4">Cohort 20<i class="material-icons right">more_vert</i></span>
	      <p><a class="cohort-link" href="#">View Dashboard</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Cohort Dashboard<i class="material-icons right">close</i></span>
	      <p>Click <a class="cohort-link-reveal" href="#">View Dashboard</a> to see your cohort's calendar of Career Development events as well as important reminders and resources.</p>
	    </div>
	  </div>

	  <!-- RUBY COHORT CARD -->
	<div class="card col s12 m5 offset-m2">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="/img/ronr.jpg">
	    </div>
	    <div class="card-content">
	      <span class="cohort card-title activator grey-text text-darken-4">Cohort 21<i class="material-icons right">more_vert</i></span>
	      <p><a class="cohort-link" href="#">View Dashboard</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Cohort Dashboard<i class="material-icons right">close</i></span>
	      <p>Click <a class="cohort-link-reveal" href="#">View Dashboard</a> to see your cohort's calendar of Career Development events as well as important reminders and resources.</p>
	    </div>
	  </div>

	  <!-- .NET COHORT CARD -->
	<div class="card col s12 m5">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="/img/net.jpg">
	    </div>
	    <div class="card-content">
	      <span class="cohort card-title activator grey-text text-darken-4">Cohort E5<i class="material-icons right">more_vert</i></span>
	      <p><a class="cohort-link" href="#">View Dashboard</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Cohort Dashboard<i class="material-icons right">close</i></span>
	      <p>Click <a class="cohort-link-reveal" href="#">View Dashboard</a> to see your cohort's calendar of Career Development events as well as important reminders and resources.</p>
	    </div>
	  </div>
</div>

<!-- STUDENT PORTAL FOOTER -->
<footer>
	<div class="container footer">
		<h5>&copy; 2017 Jessica Brawner</h5>
	</div>
</footer>

</body>
</html>