<!DOCTYPE html>
<html>
<head>
	<title>Career Development</title>
</head>
<body>

<header>
	<div class="container row">
		<h1 class="col s12 home-header">Career Development</h1>
	</div>
</header>

<div class="container row home-portals">
	<div class="col s12 m5 offset-m.5 home-students">
    <div class="card horizontal">
      <div class="card-image portal-img">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4>Student Portal</h4>
        </div>
        <div class="card-action">
          <a href="/cohorts.html">Active Cohorts</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m5 offset-m2 home-seekers">
    <div class="card horizontal">
      <div class="card-image portal-img">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4>Seeker Portal</h4>
        </div>
        <div class="card-action">
          <a href="/cohorts.html">Seeker Dashboard</a>
        </div>
      </div>
    </div>
  </div>
		
	</div>
	<div class="col s12 home-portals"></div>
</div>



<footer>
	<div class="container footer">
		<h5>&copy; 2017 Jessica Brawner</h5>
	</div>
</footer>

</body>
</html>