<!DOCTYPE html>
<html>
<head>
	<title>Career Development</title>
</head>
<body>

<!-- HOME HEADER -->
<header>
	<div class="container row">
		<h1 class="col s12 home-header">Career Development</h1>
	</div>
</header>

<!-- STUDENT PORTAL CARD -->
<div class="container row home-portals">
	<div class="col s12 m5 home-students">
    <div class="card horizontal">
      <div class="card-image portal-img">
        <img src="https://i.pinimg.com/736x/f7/53/9e/f7539eb9262905928b69741e11a7e412--simple-owl-drawing-simple-owl-tattoo.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4 class="portal-title">Student Portal</h4>
        </div>
        <div class="card-action">
          <a class="portal-link" href="/cohorts.html">Active Cohorts</a>
        </div>
      </div>
    </div>
  </div>

<!-- SEEKER PORTAL CARD -->
  <div class="col s12 m5 offset-m2 home-seekers">
    <div class="card horizontal">
      <div class="card-image portal-img">
        <img src="https://i.pinimg.com/736x/f7/53/9e/f7539eb9262905928b69741e11a7e412--simple-owl-drawing-simple-owl-tattoo.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4 class="portal-title">Seeker Portal</h4>
        </div>
        <div class="card-action">
          <a class="portal-link" href="cohorts.html">Seeker Dashboard</a>
        </div>
      </div>
    </div>
  </div>
		
	</div>
	<div class="col s12 home-portals"></div>
</div>

<!-- HOME FOOTER -->
<footer>
	<div class="container footer">
		<h5>&copy; 2017 Jessica Brawner</h5>
	</div>
</footer>

</body>
</html>